.circle-pic {
    height: 20px;
    width: 20px;
    background-color: transparent; 
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    margin: 4px 4px;
    border-radius: 50%; 
  }