.footer-md::before{
    background-image: none;
}

.mapboxgl-ctrl-geolocate {
    display: block;
    
}

#closeWindow {
    width: 10%;
    // height: 10%;
    border-radius: 100px;
    background-color: #4f4f4f;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}