<ion-header class="header">
    <ion-toolbar ion-no-border>
        <ion-searchbar class="m1">
        </ion-searchbar>
        <ion-buttons slot="end" class="m1">
            <ion-button>
                <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar ion-no-border>
        <div class="container">
            <div class="scroll" scrollX="true">
                <span style="margin-left: 5vw;">
                    <ion-button class="s-btn primary"><ion-icon name="home-outline"></ion-icon></ion-button>
                </span>
                <span style="margin-left: 5vw;">
                    <ion-button class="s-btn primary"><ion-icon name="briefcase-outline"></ion-icon></ion-button>
                </span>
                <span style="margin-left: 5vw;">
                    <ion-button class="s-btn primary"><ion-icon name="heart-outline"></ion-icon></ion-button>
                </span>
                <span style="margin-left: 5vw;">
                    <ion-button class="s-btn primary"><ion-icon name="barbell-outline"></ion-icon></ion-button>
                </span>
                <span style="margin-left: 5vw;">
                    <ion-button class="s-btn primary"><ion-icon name="restaurant-outline"></ion-icon></ion-button>
                </span>
            </div>
        </div>
    </ion-toolbar>
</ion-header>