.over {
   // background-color: #FFE500;
    padding-left: 20px;
    padding-right: 20px;
    height: 100vh;
}

#logo{
    width: 100%;
    height: calc(100% - 60px);
    background: url('../../../assets/icon/riod-big.svg');
    background-repeat: no-repeat;
    background-position: center;
}