<div class="match-parent">
    <img src="../../../../assets/icon/indicator-einzeln.png" style="width: 40vw; margin-top: 20vh; margin-left: 28%;" alt="">
</div>
<div style="background-color:#ffe500;">
    <ion-toolbar>
        <ion-buttons>
            <ion-button style="margin-left:20px">
                <ion-icon name="navigate-outline"></ion-icon>
                3 Min
            </ion-button>
            <ion-button style="margin-left:40px">
                <ion-icon slot="icon-only" name="bicycle-outline"></ion-icon>
                5 
            </ion-button>
            <riding-toggle style="margin-left:60px"></riding-toggle>
        </ion-buttons>
    </ion-toolbar>
</div>