/*
ion-searchbar{
    height: 40px !important;
    max-width: 400px;
    padding-bottom: 0.2em;
    font-size: 1.25em !important;
}*/

ion-item{
    --background:var(--displayColor);
    --border-color:transparent;
 }

