<ion-footer class="ion-no-border">
    <ion-toolbar>
        <h3>7 minuten(12 Kilometer)</h3>
    </ion-toolbar>
    <ion-toolbar>
        <ion-buttons>
            <ion-button style="margin-left:30px">
                <ion-icon name="navigate-outline"></ion-icon>
                Start
            </ion-button>
            <ion-button style="margin-left:40px">
                <ion-icon slot="icon-only" name="save-outline"></ion-icon>
            </ion-button>
            <ion-button style="margin-left:20px">
                <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
