<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start" class="m1">
            <ion-button>
                <ion-icon slot="icon-only" name="locate-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-input class="m1" placeholder="Mein Standort"></ion-input>
    </ion-toolbar>
    <ion-toolbar>
        <ion-buttons>
            <ion-button slot="start">
                <ion-icon slot="icon-only" name="move-outline"></ion-icon>
            </ion-button>
            <ion-button class="s-btn primary">Button1</ion-button>
            <ion-button class="s-btn primary">Button1</ion-button>
            <ion-button class="s-btn primary">Button1</ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button>
                <ion-icon slot="icon-only" name="location-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-input placeholder="Mein Ziel"></ion-input>
    </ion-toolbar>
</ion-header>